<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been nominated!</h1>
    <p>User this link to claim your profile!</p>
    <p>www.anonhr.org</p>
  </body>
</html>