<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been nominated with your GitHub profile @<%= @user.github_username %></h1>
    <p>Use this link to sign in with GitHub and claim your profile!</p>
    <p><%= @link %></p>
  </body>
</html>